<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MsaponiRanch"
        tools:targetApi="31">
        <activity
            android:name=".ManagerStuff.AssignmentTask"
            android:exported="false" />
        <activity
            android:name=".livestockactivityclassess.MilkingRecord"
            android:exported="false" />
        <activity
            android:name=".ManagerStuff.CattleCondition"
            android:exported="false" />
        <activity
            android:name=".ManagerStuff.TaskAssigning"
            android:exported="false" />
        <activity
            android:name=".ManagerStuff.CattleHealthRecord"
            android:exported="false" />
        <activity
            android:name=".InventoryStuff.RanchHandInventoryAdding"
            android:exported="false" />
        <activity
            android:name=".AccountantStuff.SellItems"
            android:exported="false" />
        <activity
            android:name=".AccountantStuff.MakePurcharses"
            android:exported="false" />
        <activity
            android:name=".livestockactivityclassess.AnimalBreeding"
            android:exported="false" />
        <activity
            android:name=".livestockactivityclassess.AnimalFeeding"
            android:exported="false" />
        <activity
            android:name=".livestockactivityclassess.HealthActivity"
            android:exported="false" />
        <activity
            android:name=".livestockactivityclassess.AnimalList"
            android:exported="false" />
        <activity
            android:name=".AccountantTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".CattleAdding"
            android:exported="false" />
        <activity
            android:name=".RanchHandActivity"
            android:exported="false"
            android:label="@string/title_activity_ranch_hand"
            android:theme="@style/Theme.MsaponiRanch.NoActionBar" />
        <activity
            android:name=".RanchActivity"
            android:exported="false" />
        <activity
            android:name=".RegisteringActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerLogin"
            android:exported="false" />
        <activity
            android:name=".AccountantLogin"
            android:exported="false" />
        <activity
            android:name=".AccountantActivity"
            android:exported="false" />
        <activity
            android:name=".RanchHandLogin"
            android:exported="false" />
        <activity
            android:name=".SelectClass"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>